<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Contact - <%= val.author.phonenumber %></li>
                <li class="list-group-item" id="weather">info 2</li>
                <li class="list-group-item">info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img src="<%= val.image %>" class="image-responsive">
                <div class="caption">
                    <h4 class="pull-right">Rs <%= val.cost %></h4>
                    <h4><a><%= val.name %></a></h4>
                    <p><%= val.description %></p>
                    <p>Submitted by <%= val.author.username %></p>
                    <% if(currentUser && val.author.id.equals(currentUser._id)) {  %>
                        <a href="/campgrounds/<%= val._id%>/edit" class="btn btn-info">Edit</a>
                        <!-- To delete we need a form to send the request-->
                        <form action="/campgrounds/<%= val._id%>?_method=DELETE" method="POST" id="delete">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                        <a href="/campgrounds/<%= val._id %>/comments/new" class="btn btn-success">Add new Comment</a>
                </div>
                <hr>
                <% val.comments.forEach(function(cmnt) {%>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= cmnt.author.username %></strong>
                            <span class="pull-right"><%= moment(cmnt.created).fromNow() %></span>
                            <p><%= cmnt.text %></p>
                            <% if(currentUser && cmnt.author.id.equals(currentUser._id)) {  %>
                            <a class="btn btn-xs btn-warning" href="/campgrounds/<%= val._id %>/comments/<%= cmnt._id %>/edit">Edit</a>
                            <form action="/campgrounds/<%= val._id %>/comments/<%= cmnt._id %>?_method=DELETE" method="POST" id="deletecm">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
  var x = "<%= val.location %>";
  $.simpleWeather({
    location: x,
    woeid: '',
    unit: 'c',
    success: function(weather) {
      html = 'Temperature - ' + weather.temp+'&deg;'+weather.units.temp;
    //   html += '<ul><li>'+weather.city+', '+weather.region+'</li>';
    //   html += '<li class="currently">'+weather.currently+'</li>';
    //   html += '<li>'+weather.wind.direction+' '+weather.wind.speed+' '+weather.units.speed+'</li></ul>';
  
      $("#weather").html(html);
    },
    error: function(error) {
      $("#weather").html('<p>'+error+'</p>');
    }
  });
});
</script>

<% include ../partials/footer %>